.list-group {
  margin-top: 20px;
}

.add-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.todo-text {
  width: 100%;
}

button.add {
  color: green;
  margin-right: 10px;
}

button.delete {
	color: lightgray;
  margin-left: 10px;
}

button.btn-no-outline {
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
