html {
  background-color: #E4E9FD;
  min-height: 1000px;
  font-family: 'Arial';
}

#heading > h1 {
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  width: 100%;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

form.delete {
  margin-left: 20px;
  margin-right: 20px;
}

button.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

button.delete {
  background: none;
	color: lightgray;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
